/Makefile
/config.cache
/config.log
/config.status
/diff-lisp.el
/diffit
/makepub
/cvs-access
contrib/gnus-mdrtn.el
contrib/on-loginfo
etc/gnus
etc/message
etc/smilies
etc/sounds
lisp/Makefile
lisp/version
lisp/*.elc
lisp/gnus-load.el
texi/Makefile
texi/emacs-mime
texi/gnus
texi/gnus-[0-9]*
texi/message
texi/gnustmp.texi
texi/*.dvi
texi/*.log
texi/etc
texi/herds
texi/misc
texi/picons
texi/*.aux
texi/screen
texi/smilies
texi/xface
texi/gnus.ps
texi/gnusmail.texi
texi/pspackage.tar.gz
texi/ps/*.ps
texi/ps/*.pdf
texi/ps/Makefile
