/Makefile
/config.cache
/config.log
/config.status*
etc/Makefile
lisp/Makefile
lisp/dgnuspath.el
lisp/gnus-load.el
texi/Makefile
texi/emacs-mime
texi/gnus
texi/gnus-[0-9]*
texi/gnus-ja
texi/gnus-ja-[0-9]*
texi/gnusconfig.tex
texi/message
texi/message-[0-9]*
texi/message-ja
texi/sieve
texi/ps/Makefile
