/Makefile
/config.cache
/config.log
/config.status*
/diff-lisp.el
/diffit
/makepub
/cvs-access
/cup-page
/admin
/oort
/autom4te.cache
contrib/gnus-mdrtn.el
contrib/on-loginfo
contrib/request-assign.future
etc/Makefile
etc/gnus
etc/message
etc/smilies
etc/sounds
lisp/Makefile
lisp/version
lisp/*.elc
lisp/gnus-load.el
lisp/dgnuspath.el
lisp/old
texi/Makefile
texi/emacs-mime
texi/gnus
texi/gnus-[0-9]*
texi/gnus-ja
texi/gnus-ja-[0-9]*
texi/message
texi/message-[0-9]*
texi/message-ja
texi/message-ja-[0-9]*
texi/sieve
texi/pgg
texi/gnustmp.texi
texi/*.dvi
texi/*.dvi-x
texi/*.pdf-x
texi/*.log
texi/*.aux
texi/*.latexi
texi/gnus.ps
texi/gnus.pdf
texi/gnus.out
texi/gnusmail.texi
texi/pspackage.tar.gz
texi/gnus.tmplatexi
texi/gnus.gind
texi/gnus.cind
texi/gnus.ilg
texi/gnus.kind
texi/gnus.cidx
texi/gnus.gidx
texi/gnus.kidx
texi/gnus.toc
texi/gnus.idx
texi/gnus.tmplatexi1
texi/picons.tex
texi/xface.tex
texi/smiley.tex
texi/gnusconfig.tex
texi/old
texi/thumb*
texi/auto
texi/*.tpt
texi/ps/*.ps
texi/ps/*.pdf
texi/ps/Makefile
